<form class="form-horizontal">
    <h4>General</h4>
    <fieldset>
        

    </fieldset>

    <div data-bind="css: { disabled: !ownSettings.enableCustomization() }">
        <h4>Customization</h4>
        <div data-bind="foreach: ownSettings.color">
            <div class="control-group">
                <label class="control-label">Navbar</label>
                <div class="controls">
                    <input type="color" class="input-mini" data-bind="value: value">
                    <input type="text" class="input-mini" data-bind="value: value">
                    <i data-bind="attr: { class: enabled() ? 'fa fa-check-square-o' : 'fa fa-square-o' }, click: $parent.onRuleToggle"></i>
                </div>
            </div>
        </div>
    </div>
    


</form>